
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-size: cover;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin-left: 20%;
}

.login-box {
    /* background:  rgba(255, 255, 255, 0.1); */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

.login-box h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #FFFFFF;
    position: relative;
    display: inline-block;
}

.login-box h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 4px;
    background-color: #c12630;
    margin: 8px auto 0;
    border-radius: 2px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #FFFFFF;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.9);
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #c12630;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #c12630;
    transform: scale(1.05);
}

@media (max-width: 480px) {
    .login-box {
        padding: 30px;
    }

    .login-box h2 {
        font-size: 24px;
    }

    .input-group input {
        padding: 10px;
    }

    button {
        padding: 10px;
        font-size: 16px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
