body {
    font-family: Arial, sans-serif;
}

#openDialogButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dialog-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

form label {
    margin-top: 10px;
    text-align: left;
    display: flex;
}

form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}
/* .updatefield1{
    display:flex;
    flex-direction: row;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: left;
}
.updatefield2{
    display:flex;
    flex-direction: row;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: -2%;
}
.updatefield3{
    display:flex;
    flex-direction: row;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
} */

form button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    width:50%;
}

form button:hover {
    background-color: #cc0000;
}
